.Alert {
  width: 33.5%;
  height: 22%;
  position: absolute;
  top: 15%;
  right: 24%;
  background: hsl(0, 0%, 100%);
  color: black;
  font-size: 22px;
  font-weight: bold;
  border-radius: 22px;
}

.titlename{
  margin-left: 7%;
}

.cont1{
  font-size: 18px;
  margin-left: 7%;
}

.cont2{
  font-size: 18px;
  margin-left: 7%;
  margin-top: 3%;
}

.cont3{
  background-color: #0092FF;
  border-radius: 28px;
  width: 10%;
  height: 14%;
  position: absolute;
  margin-top: 4.5%;
  margin-left: 81.5%;
}

.upload1{
  color: white;
  font-size: 13px;
  font-weight: lighter;
  position: absolute;
  top: -25%;
  right: 15%;
}

.upload{
  width: 88%;
  height: 19.5%;
  position: absolute;
  right: 6%;
  top: 75%;
}
