.Introduce {
  width: 24%;
  height: 22%;
  position: absolute;
  top: 15%;
  right: 59%;
  background: hsl(0, 0%, 100%);
  color: black;
  font-size: 22px;
  font-weight: bold;
  border-radius: 20px;
}

.club{
  background-color: #0092FF;
  border-radius: 40vh;
  width: 26vh;
  height: 5vh;
  margin: auto;
  margin-top: 4vh;
  margin-left: 4vh;
}

.clubname {
  color: white;
  font-size: 28px;
  position: absolute;
  top: 1.5vh;
  right: 15vh;
}

.con1{
  font-size: 20px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 5%;
}

.con2{
  font-size: 17px;
  color: #B7B7B7;
  font-weight: lighter;
  margin-left: 15%;
  margin-top: 4%;
}