.Schedule {
  width: 59%;
  height: 55%;
  position: absolute;
  top: 40%;
  right: 24%;
  background: hsl(0, 0%, 100%);
  color: black;
  font-size: 22px;
  border-radius: 20px;
}

.schedule-title{
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 6%;
  right: 91%;
}

.conts1{
  position: absolute;
  top: 25%;
  right: 85%;
  font-size: 20px;
}

.conts2{
  position: absolute;
  right: 85%;
  top: 35%;
  font-size: 20px;
}

.conts3{
  position: absolute;
  right: 85%;
  top: 45%;
  font-size: 20px;
}

.p-1{
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 46%;
  top: 21%;
}
.p-2{
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 45%;
  top: 31%;
}
.p-3{
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 45.5%;
  top: 41.5%;
}
.p-4{
  position: absolute;
  right: 14%;
  top: 20%;
  font-size: 20px;
}
.p-5{
  position: absolute;
  right: 14%;
  top: 30%;
  font-size: 20px;
}
.p-6{
  position: absolute;
  right: 14%;
  top: 40%;
  font-size: 20px;
}
.sche{
  position: absolute;
  top: 14%;
  right: 4%;
  width: 93%;
  height: 8%;
}
.shce1{
  position: absolute;
  top: 72%;
  right: 4%;
  width: 93%;
}

.p-7{
  position: absolute;
  font-size: 20px;
  color: #B7B7B7;
  top: 11.5%;
  left: 9%;
}
.p-8{
  position: absolute;
  font-size: 20px;
  color: #B7B7B7;
  top: 11.5%;
  left: 45%;
}
.p-9{
  position: absolute;
  font-size: 20px;
  color: #B7B7B7;
  top: 11.5%;
  left: 81%;
}
.date{
  position: absolute;
  top: 84%;
  right: 13.5%;
}
.date1{
  position: absolute;
  top: 84%;
  right: 23%;
}
.up-sche{
  position: absolute;
  width: 4%;
  top: 84%;
  right: 8%;
}
.upl-sche{
  font-size: 8px;
  position: absolute;
  top: 83.5%;
  right: 8.5%;
  color: white;
}
.date-s{
  position: absolute;
  font-size: 9px;
  top: 83%;
  right: 17.2%;
  font-weight: bold;
}
.posi-s{
  position: absolute;
  font-size: 9px;
  top: 83%;
  right: 27%;
  font-weight: bold;
}
.poly1{
  position: absolute;
  top: 85.5%;
  right: 24.4%;
}
.poly2{
  position: absolute;
  top: 85.5%;
  right: 15%;
}