.Sidebar {
  width: 15%;
  height: 80%;
  position: absolute;
  left: 0%;
  background: hsl(0, 0%, 100%);
  color: black;
  font-size: 22px;
  font-weight: bold;
  border-radius: 0px 20px 20px 0px;
}
.text1 {
  font-size: 18px;
  color: #0092ff;
  margin: auto;
  margin-top: 18vh;
}
.text2 {
  font-size: 15px;
  color: #7e7e7e;
  margin: auto;
  margin-left: 6vh;
  margin-top: -2.1vh;
}

.profile2 {
  position: absolute;
  right: 9.5vh;
}

.content1 {
  background-color: #0092ff;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 6%;
  margin: auto;
  margin-top: 26vh;
}

.noti {
  position: absolute;
  top: 27.4vh;
  right: 16vh;
}

.text-al1 {
  font-size: 15px;
  position: absolute;
  right: 9vh;
  top: 26vh;
}

.content2 {
  background-color: #0092ff;
  color: white;
  border-radius: 20px;
  width: 50%;
  height: 6%;
  margin: auto;
  margin-top: 2vh;
}

.calendar {
  position: absolute;
  top: 34vh;
  right: 16vh;
}

.text-al2 {
  font-size: 15px;
  position: absolute;
  right: 9vh;
  top: 32.5vh;
}

.content3 {
  background-color: #0092ff;
  color: white;
  border-radius: 20px;
  margin: auto;
  width: 50%;
  height: 6%;
  margin-top: 2vh;
}

.Todoi {
  position: absolute;
  top: 41vh;
  right: 16.3vh;
}

.text-al3 {
  font-size: 15px;
  position: absolute;
  right: 9vh;
  top: 39.5vh;
}

.content4 {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 14vh;
  height: 5vh;
  margin: auto;
  margin-top: 20vh;
  right: 7vh;
}

.outi {
  position: absolute;
  top: 66vh;
  right: 16vh;
}

.text-al4 {
  color: #7e7e7e;
  font-size: 15px;
  position: absolute;
  right: 9vh;
  top: 64.5vh;
}

.profile-image {
  position: absolute;
  right: 11vh;
  top: 10vh;
}

.profile {
  position: absolute;
  right: 0.4vh;
  top: 0.6vh;
}

.profile1 {
  width: 6vh;
}
